
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Zeo's Statistics Project</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/freelancer.css" rel="stylesheet">

    <link href="styles/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/jquery.dataTables.css">

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/highcharts/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="js/highcharts/modules/exporting.src.js"></script>
        <script src="js/main.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="js/DataTables/media/js/jquery.dataTables.js"></script>


    </head>
    <body id="page-top" class="index">

     <!-- Navigation -->
     <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header page-scroll">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Zeo's Statistics Project</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
           <li class="hidden">
           <a href="/"></a>
           </li>
           <li class="page-scroll">
           <a href="/" class="item">About</a>
           </li>
           <li class="page-scroll">
           <a href="/tables" class="item">Data Table</a>
           <!-- <a href="#about">About</a> -->
           </li>
           <li class="page-scroll">
           <a href="/graphs" class="item">Graphs</a>
           <!-- <a href="#contact">tables</a> -->
           </li>
         </ul>
       </div>
       <!-- /.navbar-collapse -->
     </div>
     <!-- /.container-fluid -->
     </nav>

     <section id="datatable-container" class="">
       <div class="container">
         <div class="table-container">
           <h1>Energy Statistics 2009</h1>
           <table id="table1" class="display data-table" cellspacing="0" width="100%">
             <thead>
               <tr>
                 <th>Consumption by Fuel</th>
                 <th>Million tonnes oil equivalent</th>
                 <th>Oil-2,Natural Gas-2</th>
                 <th>Coal-2,Nuclear Energy-2</th>
                 <th>Hydro electric-2</th>
                 <th>Total 2007</th>
                 <th>Oil,Natural Gas</th>
                 <th>Coal</th>
                 <th>Nuclear Energy</th>
                 <th>Hydro electric</th>
                 <th>Total 2008</th>
                 <th></th>
               </tr>
             </thead>

             <tbody>
               <% @table1_data.each do |table_data| %>
               <tr>
                 <td><%= table_data[0] %></td>
                 <td><%= table_data[1] %></td>
                 <td><%= table_data[2] %></td>
                 <td><%= table_data[3] %></td>
                 <td><%= table_data[4] %></td>
                 <td><%= table_data[5] %></td>
                 <td><%= table_data[6] %></td>
                 <td><%= table_data[7] %></td>
                 <td><%= table_data[8] %></td>
                 <td><%= table_data[9] %></td>
                 <td><%= table_data[10] %></td>
                 <td><%= table_data[11] %></td>
               </tr>
               <% end %>

             </tbody> 

           </table>  
         </div>

         <h1>Use of Solar Power for Each State</h1>
         <table id="table2" class="display data-table" cellspacing="0" width="100%">
           <thead>
             <tr>
               <th>year</th>
               <th>statecode</th>
               <th>description</th>
               <th>unit</th>
               <th>data</th>
               <th>msn</th>
             </tr>
           </thead>

           <tbody>
             <% @table3_data.each do |table_data| %>
             <tr>
               <td><%= table_data[0] %></td>
               <td><%= table_data[1] %></td>
               <td><%= table_data[2] %></td>
               <td><%= table_data[3] %></td>
               <td><%= table_data[4] %></td>
               <td><%= table_data[5] %></td>
             </tr>
             <% end %>
           </tbody> 
         </table>  

         <h1>NYC electricty consumption 2010</h1>
         <table id="table3" class="display" cellspacing="0" width="100%">
           <thead>
             <tr>
               <th>zip_code</th>
               <th>building_type_service_class</th>
               <th>consumption_kwh</th>
               <th>consumption_gj</th>
               <th>utility_data_source</th>
             </tr>
           </thead>

           <tbody>
             <% @table2_data.each do |table_data| %>
             <tr>
               <td><%= table_data[0][0..5] if table_data[0] %></td>
               <td><%= table_data[1] %></td>
               <td><%= table_data[2] %></td>
               <td><%= table_data[3] %></td>
               <td><%= table_data[4] %></td>
             </tr>
             <% end %>
           </tbody> 
         </table>  

         </div>
      </section>
    </body>
  </html>
